.App {
  text-align: center;
  font-family: sans-serif;
  background-color: aqua;
}

.main {

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.popup{
  height: 260px;
  border-width: 10rem;
  text-align: justify;
  position: absolute;
  top: 25%;
  right: 25%;
  background-color: rgb(170, 237, 239);
}

.weather{
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(170, 237, 239);
  justify-items: center;
}

form{
  background-color: rgb(170, 237, 239);
  margin: 10px;
  font-display: block;
  box-shadow: 20px 20px 50px #b9f2ef, 
            -30px -30px 60px #a1e3e3;
}

input{
  align-content: center;
  
}